/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
  display: none;
}
body {
    background-color: #f0f0f0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #000; /* Fallback */
    color: rgba(0,0,0,0.87);
}
.navbar {
    background-color: #fafafa;
    background: @col-back-panel;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
}

.donation{
    margin-left:20%;
    margin-right:20%;
    margin-top:15px;
}

.wrapper{
  margin-top: 70px;
  margin-left:auto;
  margin-right:auto;
}

.page-header{
    margin-bottom: -10px;
    margin-top: -20px;
}

.box {
  border: 1px solid #d9d6d6;
  width: 100%;
  margin:15px auto 15px auto;
  background-color: #f7f7f7;
  max-width: 992px;
  opacity: .85;
}

.box .box-header {
  font-weight: 500;
  font-style: normal;
  background: #fafafa;
  height: 45px;
  font-size: 16px;
  border-bottom: 1px solid #d9d6d6;
}

.box .box-header .box-header-content {
  padding: 12px 20px;
  font-weight: 700;
  position: relative;
}

.box .box-content {
  width: 97%;
  margin: 20px auto;
  background: #fff;
}

.box.box-breadcrumbs .box-header {
  height: auto;
}

.box.box-breadcrumbs .box-header-content {
  padding: 0;
}

.breadcrumbs a {
  position: relative;
  display: inline-block;
  padding: 8px 18px 8px 10px;
  font-weight: 500;
  font-size: 14px;
  color: #a3a9ab;
  text-shadow: 0 1px 0 #FFF;
  -webkit-transition: 300ms color;
  transition: 300ms color;
}

.breadcrumbs a:after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(../img/breadcrumb.png) no-repeat center right;
}

.breadcrumbs a:hover {
  color: #50b1ff;
  text-decoration: none;
  background: none;
}

.table-responsive{
    max-width: 992px;
    margin-left:auto;
    margin-right:auto;
}

table {
  border: 1px solid #d9d6d6;
  width: 100%;
  margin:15px auto 15px auto;
  max-width: 992px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
}

.table > tbody > tr > td{
    padding: 0 8px;
    vertical-align: middle;
}

.table > thead > tr > th{
    height: 45px;
    vertical-align: middle;
}

td {
  border-bottom: 1px solid rgba(0,0,0,0.07);
  background-color: #fff;
}

tr:first-child:hover {
    background-color: white;
}

table tr.highlighted td{
  background-color:#f0f0f0; /* fallback */
}

.alert-success:hover td, tr.alert-success.highlighted td {
    background-color: #dff0d8;
}

.alert-info:hover td, tr.alert-info.highlighted td {
    background-color: #d9edf7;
}

.alert-warning:hover td, tr.alert-warning.highlighted td {
    background-color: #fcf8e3;
}

.alert-danger:hover td, tr.alert-danger.highlighted td {
    background-color: #f2dede;
}

tr
th:nth-child(3n+3),
td:nth-child(3n+3) {
    text-align: center;
}

tr
th:nth-child(2n+2),
td:nth-child(2n+2) {
    text-align: right;
}

td, td a{
    color: rgba(0,0,0,0.87);
    vertical-align: middle;
}

th {
    opacity: .4;
    text-align:left;
    font-weight:600;
    background: #fafafa;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    border-radius: 2px 2px 0 0;
}

th a{
   color: rgba(0,0,0,0.87);
}

#textAjax{
    width:100%
}

.loadingAjax {
    display: none;
    text-align:center;
}

.btn-ServerStats {
    color: #fff;
    background-color: #555;
    margin-bottom: 10px;
}
.btn-ServerStats:hover{
    background-color: #fff;
    color: #555;
}

.ServerStorageStatus {
    display: none;
    margin:0 auto 0 auto;
    max-width: 992px;
    opacity: 0.75;
}

.progressServerStorageStatus {
    position: relative;
    height: 25px;
    line-height:25px;
    margin-bottom: 10px;
}

.progressServerStorageStatus > span {
    position:absolute;
    right:0;
    left:0;
    vertical-align: middle;
    font-weight: 600;
    color: #000;
}

.progressLabel {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 5px 2px 5px;
    color: #fff;
    background-color: #555;
}

#copyURLSuccess, #copyURLFailed {
    display:none;
    position: absolute;
    right:20px;
    bottom:30px;
}


/* ==========================================================================
   Icon
   ========================================================================== */

#list a{
    position: relative;
}

/*-- general --*/
#list a[href*="#"]:before, #list a[href*="."]:before, #list a[href*="/"]:before {
    content: "\f016";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #5f5f5f;
    font-size: 24px;
    margin: auto 7px auto 4px;
    padding: 0;
    position: inline-block;
    vertical-align: middle;
}

#list a[href*="#"]:after, #list a[href*="."]:after, #list a[href*="/"]:after {
    content: "";
}
#list a[href$="/"]:before {
    content: "\f07b";
}
#list a[href$="../"]:before {
    content: "\f112";
}


/*-- audio --*/
#list a[href$=".aac"]:before, #list a[href$=".flac"]:before,
#list a[href$=".ogg"]:before, #list a[href$=".mp3"]:before,
#list a[href$=".wav"]:before, #list a[href$=".wma"]:before {
    content: "\f1c7";
}

/*-- video --*/
#list a[href$=".3gp"]:before,#list a[href$=".avi"]:before,
#list a[href$=".flv"]:before,#list a[href$=".mkv"]:before,
#list a[href$=".mov"]:before,#list a[href$=".mp4"]:before,
#list a[href$=".mpeg"]:before,#list a[href$=".mpg"]:before,
#list a[href$=".rmvb"]:before,#list a[href$=".webm"]:before,
#list a[href$=".wmv"]:before {
    content: "\f1c8";
}

/*-- subtitle --*/
#list a[href$=".ass"]:before,#list a[href$=".lrc"]:before,
#list a[href$=".sbv"]:before,#list a[href$=".srt"]:before,
#list a[href$=".ssa"]:before,#list a[href$=".sub"]:before {
    content: "\f27b";
}

/*-- image --*/
#list a[href$=".bmp"]:before,#list a[href$=".gif"]:before,
#list a[href$=".ico"]:before,#list a[href$=".jpeg"]:before,
#list a[href$=".jpg"]:before,#list a[href$=".png"]:before,
#list a[href$=".svg"]:before,#list a[href$=".svgz"]:before {
    content: "\f1c5";
}

/*-- archive --*/
#list a[href$=".7z"]:before,#list a[href$=".7zip"]:before,
#list a[href$=".cab"]:before,#list a[href$=".gz"]:before,
#list a[href$=".lz"]:before,#list a[href$=".rar"]:before,
#list a[href$=".tar"]:before,#list a[href$=".tgz"]:before,
#list a[href$=".xz"]:before,#list a[href$=".zip"]:before {
    content: "\f1c6";
}

/*-- office --*/
#list a[href$=".pdf"]:before {
    content: "\f1c1";
}
#list a[href$=".doc"]:before,#list a[href$=".docx"]:before,
#list a[href$=".odt"]:before,#list a[href$=".ott"]:before {
    content: "\f1c2";
}
#list a[href$=".ppt"]:before,#list a[href$=".pptx"]:before,
#list a[href$=".pps"]:before,#list a[href$=".pptm"]:before,
#list a[href$=".odp"]:before,#list a[href$=".odg"]:before{
    content: "\f1c4";
}
#list a[href$=".xls"]:before,#list a[href$=".xlsx"]:before,
#list a[href$=".ods"]:before,#list a[href$=".ots"]:before,
#list a[href$=".csv"]:before {
    content: "\f1c3";
}
/*-- coding --*/
#list a[href$=".c"]:before,#list a[href$=".cpp"]:before,
#list a[href$=".css"]:before,#list a[href$=".h"]:before,
#list a[href$=".hpp"]:before,#list a[href$=".html"]:before,
#list a[href$=".java"]:before,#list a[href$=".js"]:before,
#list a[href$=".less"]:before,#list a[href$=".php"]:before,
#list a[href$=".py"]:before,#list a[href$=".rb"]:before,
#list a[href$=".sql"]:before,#list a[href$=".sh"]:before,
#list a[href$=".xml"]:before {
    content: "\f1c9";
}
/*-- text --*/
#list a[href$="#"]:before, #list a[href$=".rtf"]:before,
#list a[href$=".txt"]:before {
    content: "\f0f6";
}
/*-- cd image --*/
#list a[href$=".bin"]:before,#list a[href$=".cdi"]:before,
#list a[href$=".dmg"]:before,#list a[href$=".image"]:before,
#list a[href$=".img"]:before,#list a[href$=".iso"]:before {
    content: "\f192";
}
/*-- encrypted --*/
#list a[href$=".gpg"]:before, #list a[href$=".px"]:before {
    content: "\f023";
}
/*-- Executable --*/
#list a[href$=".bat"]:before,#list a[href$=".com"]:before,
#list a[href$=".exe"]:before,#list a[href$=".lnk"]:before,
#list a[href$=".msi"]:before,#list a[href$=".reg"]:before {
    content: "\f17a";
}
#list a[href$=".app"]:before,#list a[href$=".osx"]:before {
    content: "\f179";
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
