/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
  display: none;
}
body {
    background-color: #f0f0f0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #000; /* Fallback */
    color: rgba(0,0,0,0.87);
}
.navbar {
    background-color: #fafafa;
    background: @col-back-panel;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
}

.donation{
    margin-left:20%;
    margin-right:20%;
    margin-top:15px;
}

.wrapper{
  margin-top: 70px;
  margin-left:auto;
  margin-right:auto;
}

.page-header{
    margin-bottom: -10px;
    margin-top: -20px;
}

.box {
  border: 1px solid #d9d6d6;
  width: 100%;
  margin:15px auto 15px auto;
  background-color: #f7f7f7;
  max-width: 1000px;
  opacity: .85;
}

.box .box-header {
  font-weight: 500;
  font-style: normal;
  background: #fafafa;
  height: 45px;
  font-size: 16px;
  border-bottom: 1px solid #d9d6d6;
}

.box .box-header .box-header-content {
  padding: 12px 20px;
  font-weight: 700;
  position: relative;
}

.box .box-content {
  width: 97%;
  margin: 20px auto;
  background: #fff;
}

.box.box-breadcrumbs .box-header {
  height: auto;
}

.box.box-breadcrumbs .box-header-content {
  padding: 0;
}

.breadcrumbs a {
  position: relative;
  display: inline-block;
  padding: 8px 18px 8px 10px;
  font-weight: 500;
  font-size: 14px;
  color: #a3a9ab;
  text-shadow: 0 1px 0 #FFF;
  -webkit-transition: 300ms color;
  transition: 300ms color;
}

.breadcrumbs a:after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(../img/breadcrumb.png) no-repeat center right;
}

.breadcrumbs a:hover {
  color: #50b1ff;
  text-decoration: none;
  background: none;
}

.table-responsive{
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

table {
  border: 1px solid #d9d6d6;
  width: 100%;
  margin:15px auto 15px auto;
  max-width: 1000px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
}

th,td {
  padding:0.1em 1em;
}

td {
  line-height: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.07);
  background-color: #fff;
}

tr:first-child:hover {
    background-color: white;
}

tr:hover td {
    opacity: .5;
    background-color: #f0f0f0; /* fallback */
}

table tr.highlighted td{
  background-color:#f0f0f0; /* fallback */
}

.alert-success:hover td, tr.alert-success.highlighted td {
    background-color: #dff0d8;
}

.alert-info:hover td, tr.alert-info.highlighted td {
    background-color: #d9edf7;
}

.alert-warning:hover td, tr.alert-warning.highlighted td {
    background-color: #fcf8e3;
}

.alert-danger:hover td, tr.alert-danger.highlighted td {
    background-color: #f2dede;
}

tr 
th:nth-child(3n+3),
td:nth-child(3n+3) {
    text-align: center;
}

td, td a{
    color: rgba(0,0,0,0.87); 
}

th {
    line-height: 46px;
    opacity: .4;
    text-align:left;
    font-weight:600;
    background: #fafafa;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    border-radius: 2px 2px 0 0;
}

th a{
   color: rgba(0,0,0,0.87); 
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}