html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}
.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.px-transparent{
  opacity:0.9;
}
.px-nav-mobile{
  z-index:99 !important;
}
.px-nav-item-mobile{
  padding-top: 55px;
  z-index:98 !important;
}
.px-header{
  color: #ffffff;
  background-color: #000000
}
#serverStatus{
  margin: 30px 0 10px 0;
}
#breadcrumb-segment{
  border-radius: 0 !important;
}
.px-sidebar-label{
  margin: 10px
}
.px-pointer{
  cursor: pointer;
}
.px-footer{
  margin-bottom:0px !important;
  border-radius:0px !important;
}
.ui.inverted.menu .item,
.ui.inverted.menu .item>a:not(.ui){
  color: #ffffff;
}
#filterBox, #filterBox:focus{
  color: #ffffff;
}
#sidebar{
  margin-top: 55px !important;
}
#sidebar > .item{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}#sidebar > .item > .message{
  box-shadow: none;
}
#container-list {
  flex: 1;
}
#list{
  border-radius: 0 !important;
  line-height: 1 !important;
}
#list tr th:nth-child(2),
#list tr td:nth-child(2) {
    text-align: right;
}
#list tr th:nth-child(3),
#list tr td:nth-child(3) {
    text-align: center;
}
#list td,
#list td a,
#list th a{
  color: black;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top > i {
  margin: 0;
}
#back-to-top.show {
    opacity: 1;
}
#container-footer a{
  color: #fff;
}
/** selectable **/
.ui-selectable {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
/** selectable theming **/
/* Blue */
#list.blue tbody .ui-selecting { background: #E3F2FD;}
#list.blue tbody .ui-selected { background: #BBDEFB;}
/* Green */
#list.green tbody .ui-selecting { background: #E8F5E9;}
#list.green tbody .ui-selected { background: #C8E6C9;}
/* Grey */
#list.grey tbody .ui-selecting { background: #EEEEEE;}
#list.grey tbody .ui-selected { background: #E0E0E0;}
/* Orange */
#list.orange tbody .ui-selecting { background: #FFF3E0;}
#list.orange tbody .ui-selected { background: #FFE0B2;}
/* Pink */
#list.pink tbody .ui-selecting { background: #FCE4EC;}
#list.pink tbody .ui-selected { background: #F8BBD0;}
/* Purple */
#list.purple tbody .ui-selecting { background: #F3E5F5;}
#list.purple tbody .ui-selected { background: #E1BEE7;}
/* Teal */
#list.teal tbody .ui-selecting { background: #E0F2F1;}
#list.teal tbody .ui-selected { background: #B2DFDB;}

/* Mobile */
@media only screen and (max-width: 767px) {
  .px-header{
    padding-top: 70px;
    min-height: 500px;
  }
  .px-header-greetings{
    font-size: 3rem;
  }
  .px-header-greet{
    font-size: 1.4rem;
  }
  .px-header-stats{
    font-size: 1rem;
  }
  #container-breadcrumb{
    margin-top: -200px;
  }
}

/* Tablet UP */
@media only screen and (min-width: 768px) {
  .px-header{
    padding-top: 100px;
    min-height: 700px;
  }
  .px-header-greetings{
    font-size: 6rem;
  }
  .px-header-greet{
    font-size: 3.5rem;
  }
  .px-header-stats{
    font-size: 2rem;
  }
  #container-breadcrumb{
    margin-top: -250px;
  }
}

/* ==========================================================================
   Icon
   ========================================================================== */

#list a{
    position: relative;
}

/*-- general --*/
#list > tbody > tr > td > a:before {
    content: "\f016";
    font-family: Icons;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #5f5f5f;
    font-size: 24px;
    margin: auto 7px auto 4px;
    padding: 0;
    position: inline-block;
    vertical-align: middle;
}

#list > tbody > tr > td > a:after {
    content: "";
}
#list a[href$="/"]:before, #list a[href$="/?C=N&O=D"]:before,
#list a[href$="/?C=S&O=A"]:before, #list a[href$="/?C=S&O=D"]:before,
#list a[href$="/?C=M&O=A"]:before, #list a[href$="/?C=M&O=D"]:before {
    content: "\f07b";
}
#list a[href$="../"]:before, #list a[href$="../?C=N&O=D"]:before,
#list a[href$="../?C=S&O=A"]:before, #list a[href$="../?C=S&O=D"]:before,
#list a[href$="../?C=M&O=A"]:before, #list a[href$="../?C=M&O=D"]:before {
    content: "\f112";
}


/*-- audio --*/
#list a[href$=".aac"]:before, #list a[href$=".flac"]:before,
#list a[href$=".ogg"]:before, #list a[href$=".mp3"]:before,
#list a[href$=".wav"]:before, #list a[href$=".wma"]:before {
    content: "\f1c7";
}

/*-- video --*/
#list a[href$=".3gp"]:before,#list a[href$=".avi"]:before,
#list a[href$=".flv"]:before,#list a[href$=".mkv"]:before,
#list a[href$=".mov"]:before,#list a[href$=".mp4"]:before,
#list a[href$=".mpeg"]:before,#list a[href$=".mpg"]:before,
#list a[href$=".rmvb"]:before,#list a[href$=".webm"]:before,
#list a[href$=".wmv"]:before {
    content: "\f1c8";
}

/*-- subtitle --*/
#list a[href$=".ass"]:before,#list a[href$=".lrc"]:before,
#list a[href$=".sbv"]:before,#list a[href$=".srt"]:before,
#list a[href$=".ssa"]:before,#list a[href$=".sub"]:before {
    content: "\f27b";
}

/*-- image --*/
#list a[href$=".bmp"]:before,#list a[href$=".gif"]:before,
#list a[href$=".ico"]:before,#list a[href$=".jpeg"]:before,
#list a[href$=".jpg"]:before,#list a[href$=".png"]:before,
#list a[href$=".svg"]:before,#list a[href$=".svgz"]:before {
    content: "\f1c5";
}

/*-- archive --*/
#list a[href$=".7z"]:before,#list a[href$=".7zip"]:before,
#list a[href$=".cab"]:before,#list a[href$=".gz"]:before,
#list a[href$=".lz"]:before,#list a[href$=".rar"]:before,
#list a[href$=".tar"]:before,#list a[href$=".tgz"]:before,
#list a[href$=".xz"]:before,#list a[href$=".zip"]:before {
    content: "\f1c6";
}

/*-- office --*/
#list a[href$=".pdf"]:before {
    content: "\f1c1";
}
#list a[href$=".doc"]:before,#list a[href$=".docx"]:before,
#list a[href$=".odt"]:before,#list a[href$=".ott"]:before {
    content: "\f1c2";
}
#list a[href$=".ppt"]:before,#list a[href$=".pptx"]:before,
#list a[href$=".pps"]:before,#list a[href$=".pptm"]:before,
#list a[href$=".odp"]:before,#list a[href$=".odg"]:before{
    content: "\f1c4";
}
#list a[href$=".xls"]:before,#list a[href$=".xlsx"]:before,
#list a[href$=".ods"]:before,#list a[href$=".ots"]:before,
#list a[href$=".csv"]:before {
    content: "\f1c3";
}
/*-- coding --*/
#list a[href$=".c"]:before,#list a[href$=".cpp"]:before,
#list a[href$=".css"]:before,#list a[href$=".h"]:before,
#list a[href$=".hpp"]:before,#list a[href$=".html"]:before,
#list a[href$=".java"]:before,#list a[href$=".js"]:before,
#list a[href$=".less"]:before,#list a[href$=".php"]:before,
#list a[href$=".py"]:before,#list a[href$=".rb"]:before,
#list a[href$=".sql"]:before,#list a[href$=".sh"]:before,
#list a[href$=".xml"]:before {
    content: "\f1c9";
}
/*-- text --*/
#list a[href$="#"]:before, #list a[href$=".rtf"]:before,
#list a[href$=".txt"]:before {
    content: "\f0f6";
}
/*-- cd image --*/
#list a[href$=".bin"]:before,#list a[href$=".cdi"]:before,
#list a[href$=".dmg"]:before,#list a[href$=".image"]:before,
#list a[href$=".img"]:before,#list a[href$=".iso"]:before {
    content: "\f192";
}
/*-- encrypted --*/
#list a[href$=".gpg"]:before, #list a[href$=".px"]:before {
    content: "\f023";
}
/*-- Executable --*/
#list a[href$=".bat"]:before,#list a[href$=".com"]:before,
#list a[href$=".exe"]:before,#list a[href$=".lnk"]:before,
#list a[href$=".msi"]:before,#list a[href$=".reg"]:before {
    content: "\f17a";
}
#list a[href$=".app"]:before,#list a[href$=".osx"]:before {
    content: "\f179";
}


